@import "~bootstrap/scss/bootstrap";

.h-80 {
    height: 80% !important;
}

.w-130 {
    width: 130% !important;
}

.min-h-100vh {
    min-height: 100vh;
}

.max-w-512 {
    max-width: 512px;
}

.box-sizing-content {
    box-sizing: content-box;
}

.metal-post-bg {
    background: #91A6A7;
    background: url("../images/metal-post-texture-blurred.png");
    background-size: 100% 100%;
}

.paper-bg {
    background: white;
    background: url("../images/paper.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.anime-bg {
    background: lightgoldenrodyellow;
    background: url("../images/anime-street-background-blurred.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.author-image {
    height: 45vh;
    width: auto;
}

@include media-breakpoint-up(md) {
    .author-image {
        float: left;
    }
}

.md-text-align-middle {
    text-align: center;
}

@include media-breakpoint-up(md) {
    .md-text-align-middle {
        text-align: unset;
    }
}

.oppacity-60 {
    filter: opacity(60%);
}
